.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  width: 100%;
  background-color: rgb(38, 91, 104);
}

.calc-wrapper {
  width: 300px;
  height: 600px;
  /* background-color: red; */
  border-radius: 5px;
  padding: 1px;
}

.row {
  display: flex;
  width: 100%;
}

h1 {
  text-align: center;
  color: #fff;
}
